
body { 
		background: url(../images/backgroundbleu.jpg);
		
		
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: none;
 }
	.modal-vertical-centered {
  transform: translate(0, 50%) !important;
  -ms-transform: translate(0, 50%) !important; /* IE 9 */
  -webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
}
.modal-body { 
   background-color: none !important; 
}

  .modal-header, h4{
 
	
    padding:3px 10px;
    background-color:#BBD2E1;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
	 color:Carbone !important;
      text-align: center;
	  color:black; 
	  font-size:20px;
font-family:verdana;	  
  }


.modal-content
{

    -webkit-border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -moz-border-radius: 0;
    background-color: transparent;
}

ul.nav > li > a:hover {
	background-color:#BBD2E1;
	color: #FFFFFF;
	border-style: none;
}
